* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: #000;
  font-family: "Noto Sans Arabic", sans-serif;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn {
  padding: 1rem 2.5rem;
  background: #ffe033;
  font-weight: 600;
  font-size: 1em;
  margin: 0.5em;
}

.btn-outline {
  padding: 1em 2.5em;
  font-weight: 600;
  border: 1px solid #ffe033;
}
.btn-outline:hover {
  background: #ffe033;
}

.icon-bars {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.5em;
  margin: auto;
  overflow: hidden;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav ul li {
  border-left: 1px solid #BFBFBF;
  margin: 0em 0.5em;
  padding: 0em 1em;
}
header nav ul li a:hover {
  font-weight: 600;
  font-size: 1.1em;
  border-bottom: 2px solid #ffe033;
}

.all-imges {
  position: relative;
}
.all-imges img {
  width: 30%;
  height: auto;
  -webkit-filter: drop-shadow(-6px 34px 84px rgba(237, 107, 21, 0.2196078431));
          filter: drop-shadow(-6px 34px 84px rgba(237, 107, 21, 0.2196078431));
  float: left;
}
.all-imges .img-2 {
  position: absolute;
  left: 20%;
  top: 20%;
}
.all-imges .img-3 {
  width: 15%;
  height: auto;
  position: absolute;
  left: 8%;
  top: 80%;
}

.article {
  position: absolute;
  right: 5%;
  margin-top: 70px;
}
.article h3 {
  padding: 0.5rem 0rem;
  border-bottom: 2px solid #ffe033;
}
.article h1 {
  font-size: 2em;
  font-weight: 800;
}
.article .All-btn {
  margin: 2em -0.5em;
}

.section-one {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
}
.section-one .email-news {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  width: 90%;
  height: 50px;
  padding: 2em;
  overflow: hidden;
}
.section-one .email-news .icon {
  padding: 0.1em;
}
.section-one .email-news .icon img {
  margin: 30px 0px;
  border-left: 1px solid #000;
}
.section-one .email-news input {
  border: none;
  margin-right: 5px;
  width: 90%;
  height: 45px;
}
.section-one .email-news button {
  border: none;
  background: #fbeeba;
  cursor: pointer;
  padding: 0em 1em;
}

.statistics {
  width: 100%;
}
.statistics .up-atatistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10em;
}
.statistics div {
  text-shadow: 4px 9px 10px #f8cc0a, 3px 5px 10px #000;
  text-align: center;
  padding: 3em;
}
.statistics div h1, .statistics div sub {
  color: #ffe033;
  font-weight: 800;
  font-size: 2em;
}

.who-are-we .image {
  text-align: center;
  padding: 3em;
}
.who-are-we .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}
.who-are-we .links .one {
  color: #ffe033;
}
.who-are-we .links .one img {
  width: 30px;
  height: auto;
}
.who-are-we .contact-us-1 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
}
.who-are-we .contact-us-1 .images {
  float: right;
  background-color: #ddaadd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.who-are-we .article-2 {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 200px 0px;
}
.who-are-we .article-2 .art {
  margin: 0em 2em;
}

@media screen and (max-width: 1212px) {
  header {
    font-size: 80%;
  }

  body {
    font-size: 70%;
  }
}
@media screen and (max-width: 890px) {
  header {
    font-size: 75%;
  }
}
@media screen and (max-width: 854px) {
  header {
    font-size: 100%;
    width: 100%;
  }
  header .nav-none {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100rem;
    background-color: #e7dede;
    width: 100%;
    height: 350px;
    text-align: center;
  }
  header .nav-none ul li {
    width: 100%;
    border-left: 0px solid #BFBFBF;
    margin: 1.5em 0em;
  }
  header .nav-block {
    width: 100%;
    margin-top: 200px;
  }
  header .nav-block ul {
    display: block;
  }
  header .nav-block ul li {
    width: 100%;
    border-left: 0px solid #BFBFBF;
    margin: 1.5em 0em;
  }

  .icon-bars {
    display: block;
    cursor: pointer;
  }
}
@media screen and (max-width: 775px) {
  header .logo img {
    width: 100px;
    height: auto;
  }

  .article {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 39em;
  }
  .article h1 {
    font-size: 2em;
    font-weight: 800;
  }
  .article .All-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2em -0.5em;
  }

  .all-imges {
    margin: auto;
  }
  .all-imges img {
    width: 70%;
  }
  .all-imges .img-2 {
    position: absolute;
    left: 45%;
    top: 20%;
  }
  .all-imges .img-3 {
    width: 25%;
    height: auto;
    position: absolute;
    left: 12%;
    top: 80%;
  }

  .statistics {
    margin-top: 30em;
    padding: 2em 0px;
  }
  .statistics .up-atatistics {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .who-are-we .article-2 {
    margin-top: 50em;
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  body {
    font-size: 55%;
  }

  .statistics {
    padding: 2em 0px;
  }
  .statistics .up-atatistics {
    margin-top: 30em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .who-are-we .article-2 {
    margin-top: 60em;
    text-align: center;
  }
}